.lista {
  border: 2px solid #000;
}

.lista--vieja {
  opacity: 0.5;
  background-color: #ccc;
}

.lista__item {
  color: blue;
  margin: 10px 0;
  list-style: square;
}

.item--dañino {
  color: red;
  font-weight: bold;
}

.item--importante {
  color: green;
  font-style: italic;
}
