body {
  margin: 0;
}

div {
  background: #ededed;
  padding: 20px;
  font-family: sans-serif;
  border-left: solid #999;
  width: 80vw;
  height: 80vh;
  margin: 0;
  box-sizing: border-box;
  margin:auto;
  margin-top: 10vh;
}

h1 {
  margin: 0;
  font-size: 22px;
}

span {
  color: #999;
  font-size: 16px;
  font-weight: 100;
}

p {
  color: #555;
}
