body {
  margin: 0;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 100px 200px 300px;
  grid-template-rows: 400px 200px;
}

.grid-item {
  background-color: #48e;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  color: #fff;
}
