body {
  margin: 0;
  font-family: sans-serif;
  color: #ddd;
  background-color: #222;
  background: linear-gradient(to bottom, #222, #000);
}

h2 {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.4em;
  padding: 10px;
}

form {
  background-color: transparent;
  padding: 20px 0;
  max-width: 600px;
  margin: auto;
  box-shadow: 0px 0px 55px #0009;
  margin-top: 50px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 40px;
}

.form_input {
  padding: 6px 20px;
}

input,
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
  border: none;
  border: 1px solid #666;
  box-shadow: 0px 0px 15px #0003;
  background-color: transparent;
  border-radius: 4px;
  color: #ddd;
}

option {
  background-color: #222;
}

textarea {
  min-width: 100%;
  resize: none;
  min-height: 102px;
  font-family: sans-serif;
}

label {
  font-size: 0.88em;
  margin-bottom: 4px;
  line-height: 2;
}

.checkbox {
  width: auto;
  height: 10px;
}

fieldset {
  border-radius: 5px;
  border: 1px solid #666;
  padding: 8px 6px 20px 6px;
  margin: 20px;
}

legend {
  padding: 0 6px;
  color: #777;
}
