body {
  margin: 0;
  font-family: sans-serif;
}

body,
div {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: dense;
  margin: auto;
  gap: 10px;
  padding: 10px;
  min-height: 100vh;
}

.grid-item {
  background-color: #48e;
  font-size: 30px;
  border-radius: 16px;
  background-image: url("/imagenes/dalto.jpg");
  background-size: cover;
  background-position: center;
}

.grid-item:nth-child(10) {
  grid-column: span 4;
}

.grid-item:nth-child(6) {
  grid-column: span 3;
}

.grid-item:hover {
  opacity: 0.74;
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
