body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: #f80;
  color: #fff;
}

.header {
  height: 100vh;
  box-sizing: border-box;
  background-image: url("/imagenes/informatica.jpg");
}

.header__overlay {
  height: 100vh;
  width: 100vh;
  background-color: #f806;
  position: absolute;
  z-index: 1;
}

.header__item-container{
  position: relative;
  z-index: 10;
}

h1 {
  margin: 0;
}
