body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #f80;
  color: #fff;
}

body,
header,
nav,
ul,
h1,
h2,
p,
img {
  box-sizing: border-box;
}

/*--- HEADER SECTION ---*/

.header {
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url("/imagenes/informatica.jpg");
  background-size: cover;
  display: flex;
}

.header__overlay {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  z-index: 1;
}

.header__item-container {
  position: relative;
  z-index: 10;
  margin: auto;
  text-align: center;
  max-width: 900px;
  padding: 20px;
}

.header__item-container p {
  text-wrap: pretty;
}

.header__img {
  min-width: 250px;
  max-width: 40%;
  border-radius: 50%;
  border: 6px solid #fff;
  margin: 20px;
}

h1 {
  margin: 0;
  font-size: 3.6rem;
  text-wrap: balance;
}

/*--- NAVBAR SECTION ---*/

.nav {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 100px 8px 40px;
}

.nav__ul {
  margin: 0;
  display: flex;
}

.nav__item {
  list-style: none;
}

.nav__link {
  color: #f80;
  text-decoration: none;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 0;
  transition: background-color 0.24s, border-radius 0.2s, outline 0.2s,
    outline-offset 0.3s;
  margin: 2px;
  outline: 0;
  outline-offset: 0;
}

.nav__link:hover {
  background-color: #f803;
  border-radius: 20px;
  outline: 2px solid #f806;
  outline-offset: -7px;
}

.link--login {
  background-color: #f80;
  color: #fff;
  border-radius: 20px;
  padding: 8px 24px;
  margin-left: 6px;
}

.link--login:hover {
  background-color: #b61;
  outline: none;
}

.nav__logo {
  width: 70px;
  padding: 10px;
}
