body {
  margin: 0;
  font-family: Montserrat;
  background-color: #ccc;
}

div {
  box-sizing: border-box;
}

.box {
  margin: 20px;
  background-color: #fff;
  border: 4px solid #48e;
  padding: 6px;
  border-radius: 39px;
}

.barra {
  padding: 40px;
  background-color: #48e;
  border-radius: 30px;
  width: 10%;
  animation: llenar-barra;
  animation-duration: 2s;
}

@keyframes llenar-barra {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
