body {
  margin: 0;
  font-family: sans-serif;
}

div,
body {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  flex-flow: column wrap;
  border: 2px solid #000;
  margin: 20px;
  justify-content: space-evenly;
  height: 500px;
}

.flex-item {
  background-color: #800;
  color: #fff;
  font-size: 40px;
  text-align: center;
  direction: rtl;
}

.flex-item:first-child {
  background-color: #f77;
}

.flex-item:last-child {
  background-color: #000;
}
