body,
div {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(1, 150px);
  gap: 10px;
  padding: 10px;
  align-items: stretch;
  justify-content: space-evenly;
  align-items: center;
  height: 350px;
  border: 2px solid #000;
  margin: 20px;
}

.grid-item:first-child {
  background-color: #e66;
  align-self: end;
}

.grid-item {
  background-color: #48e;
  color: #fff;
  font-size: 60px;
  font-size: 30px;
  max-width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.grid-item:hover {
  opacity: 0.74;
}
