body {
  margin: 0;
  font-family: sans-serif;
}

body,
div {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: row;
  margin: auto;
  gap: 10px;
  padding: 10px;
  min-width: 100vh;
}

.grid-item {
  background-color: #48e;
  font-size: 30px;
  border-radius: 16px;
  background-image: url("/imagenes/dalto.jpg");
  background-size: cover;
  background-position: center;
}
