body {
  margin: 0;
  font-family: sans-serif;
}

div,
body {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  align-items: center;
  border: 2px solid #000;
  height: 400px;
}

.flex-item {
  background-color: #800;
  color: #fff;
  font-size: 40px;
  text-align: center;
  flex: 1 1 100px;
}

.flex-item:nth-child(2n) {
  background-color: #f77;
  flex-grow: 2;
}

.flex-item:last-child {
  background-color: #000;
  flex-grow: 1;
}

.item-5 {
  align-self: flex-start;
}
