body {
  margin: 0;
  font-family: Montserrat;
  background-color: #ccc;
}

div {
  box-sizing: border-box;
}

.box {
  margin: 20px;
  background-color: #fff;
  border: 4px solid #48e;
  padding: 6px;
  border-radius: 39px;
  transition: border 0.6s steps(12);
}

.barra {
  padding: 40px;
  background-color: #48e;
  border-radius: 30px;
  width: 10%;
  transition:
    width 0.6s steps(12),
    background-color 0.6s steps(12);
}

.barra:active {
  width: 100%;
  transition-duration: 3s;
  background-color: #f33;
}

.box:has(.barra:active) {
  border: 4px solid #f33;
  transition-duration: 3s;
}
