body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.nav {
  background-color: #48e;
}

.nav__list {
  margin: 0;
  text-align: center;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color: #48e;
}

.nav__link:hover {
  background-color: #6af;
}

.link--button {
  border: px solid #fff;
  background-color: #fff;
  padding: 4px 18px;
  color: #48e;
  border-radius: 3px;
  margin-left: 60px;
}

.link--button:hover {
  background-color: transparent;
  color: #fff;
}
