body {
  margin: 0;
  font-family: sans-serif;
  background-color: antiquewhite;
}

.box {
  width: 150px;
  background-color: #f00;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 5px solid #000;
  outline-width: 10px;
  outline-color: #00f;
  outline-style: solid;
}

input {
  margin: 50px;
  border: none;
  border-top: 3px solid #000;
  padding: 6px;
}

input:focus {
  border-color: #00f;
  color: #00f;
  outline: none;
}
