td,
th {
  text-align: center;
  padding: 6px;
  padding-bottom: 10px;
  font-family: sans-serif;
  border: none;
  border-bottom: 1px solid #0004;
}

td {
  color: #444;
}

table {
  width: 100%;
  border-spacing: 12px;
  box-shadow: 0 0 25px #0002;
  max-width: 500px;
  margin-top: 30px;
  margin: auto;
}

.header_total,
.dato_total {
  font-weight: bold;
  border: none;
  padding: 12px;
  font-size: 1.2em;
}
